<a href="https://colab.research.google.com/github/rami-fetouh-school/TS_HW/blob/main/HW8_PartA_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Import libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import os

In [3]:
#Read the files as dataframes
calendar = pd.read_csv('/content/drive/MyDrive/calendar.csv')
sales_train_validation = pd.read_csv('/content/drive/MyDrive/sales_train_evaluation.csv')
sell_prices = pd.read_csv('/content/drive/MyDrive/sell_prices.csv')

In [4]:
#Check dataframes
print(calendar.shape)
print(calendar.columns)
calendar.head()

(1969, 14)
Index(['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI'],
      dtype='object')

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [5]:
print(sales_train_validation.shape)
print(sales_train_validation.columns)
sales_train_validation.head()

(30490, 1947)
Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1932', 'd_1933', 'd_1934', 'd_1935', 'd_1936', 'd_1937', 'd_1938',
       'd_1939', 'd_1940', 'd_1941'],
      dtype='object', length=1947)

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [6]:
print(sell_prices.shape)
print(sell_prices.columns)
sell_prices.head()

(6841121, 4)
Index(['store_id', 'item_id', 'wm_yr_wk', 'sell_price'], dtype='object')

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

1. Which state has the highest sales? (5 points)

In [7]:
#File: sales_train_validation. Group by state_id and sum the sales row
a=sales_train_validation.groupby('state_id').sum()
a
a.columns
a['sum'] = a.sum(axis=1)
a.sort_values(by = 'sum',ascending=False)

#Answer: CA

            d_1    d_2    d_3    d_4  ...  d_1939  d_1940  d_1941       sum
state_id                              ...
CA        14195  13805  10108  11047  ...   17430   23103   24644  29196717
TX         9438   9630   6778   7381  ...   12303   13681   14815  19228405
WI         8998   8314   6897   6984  ...   12819   14734   14879  18502051

[3 rows x 1942 columns]

2. Which department has the highest sales? (5 points)

In [8]:
#File: sales_train_validation. Group by dept_id and sum the sales row
a=sales_train_validation.groupby('dept_id').sum()
a
a.columns
a['sum'] = a.sum(axis=1)
a.sort_values(by = 'sum',ascending=False)

#Answer: FOODS_3

               d_1    d_2    d_3    d_4  ...  d_1939  d_1940  d_1941       sum
dept_id                                  ...
FOODS_3      16741  16333  12343  13764  ...   19586   23464   25401  32937002
HOUSEHOLD_1   4105   3858   2827   2732  ...    7974    9668   10165  11722853
FOODS_2       4094   4209   3174   3606  ...    4815    5940    6535   7795025
HOBBIES_1     3610   3172   2497   2531  ...    3761    4832    4720   5699014
FOODS_1       2343   2216   1657   1508  ...    3735    4195    4031   5190400
HOUSEHOLD_2   1584   1776   1100   1133  ...    2299    2918    2926   3041237
HOBBIES_2      154    185    185    138  ...     382     501     560    541642

[7 rows x 1942 columns]

3. Which department has the highest number of products? (5 points)

In [9]:
#Group by dept_id and then count unique item_id
a = sales_train_validation.groupby('dept_id')['item_id'].nunique()
a.sort_values(ascending=False)

#Answer: FOODS_3

dept_id
FOODS_3        823
HOUSEHOLD_1    532
HOUSEHOLD_2    515
HOBBIES_1      416
FOODS_2        398
FOODS_1        216
HOBBIES_2      149
Name: item_id, dtype: int64

4. Which department has the highest mean price? (5 points)

In [10]:
#File: sell_prices. Split item_id. Group by dept_id and find average
sell_prices['dept_id'] = sell_prices.item_id.str.split('_', expand=True)[0] + '_' + sell_prices.item_id.str.split('_', expand=True)[1]

a=sell_prices.groupby(['dept_id']).mean()
a

#Answer: Household_2

                 wm_yr_wk  sell_price
dept_id
FOODS_1      11374.204519    3.374649
FOODS_2      11390.434697    4.084008
FOODS_3      11383.924450    2.842107
HOBBIES_1    11381.692131    6.225784
HOBBIES_2    11388.610515    2.686807
HOUSEHOLD_1  11388.014102    5.057583
HOUSEHOLD_2  11374.786882    5.855558

5. Which is the best performing store? (5 points)

In [11]:
#File: sales_train_validation. Group by state_id and sum the sales row
a=sales_train_validation.groupby('store_id').sum()
a.columns
a['sum'] = a.sum(axis=1)
a.sort_values(by = 'sum',ascending=False)

#Answer: CA_3

           d_1   d_2   d_3   d_4  ...  d_1939  d_1940  d_1941       sum
store_id                          ...
CA_3      4739  4827  3785  4232  ...    5542    7073    8144  11363540
CA_1      4337  4155  2816  3051  ...    4433    5764    6289   7832248
TX_2      3852  3937  2731  2954  ...    4249    4802    5217   7329642
WI_2      2256  1922  2018  2522  ...    4880    5213    5068   6697988
WI_3      4038  4198  3317  3211  ...    4126    4519    4757   6542557
TX_3      3030  3006  2225  2169  ...    4390    4712    4974   6205940
CA_2      3494  3046  2121  2324  ...    4751    7120    6614   5818395
TX_1      2556  2687  1822  2258  ...    3664    4167    4624   5692823
WI_1      2704  2194  1562  1251  ...    3813    5002    5054   5261506
CA_4      1625  1777  1386  1440  ...    2704    3146    3597   4182534

[10 rows x 1942 columns]

6. Which month had the highest sales? (5 points)

In [12]:
#Match total sales train validation to calendar months by 'd'
a=pd.DataFrame(sales_train_validation.sum()[6:])
a['d'] = a.index
b = calendar[['d','month']]
a = a.merge(b,on='d', how='left')

#Find sum
a.groupby('month').sum()[0].sort_values(ascending=False)

#Answer: March

month
3     6387210
4     6197793
5     6033079
2     5889589
8     5571730
7     5443975
10    5380589
1     5345511
9     5321889
6     5250212
12    5111972
11    4993624
Name: 0, dtype: int64

7. Which weekday do people prefer to grocery shopping in different states? (3 answers = 15 points)

In [13]:
#California: Answer: Sunday
sales_train_validation_CA = sales_train_validation.loc[sales_train_validation['state_id'] == 'CA']
a=pd.DataFrame(sales_train_validation_CA.sum()[6:])
a['d'] = a.index
b = calendar[['d','weekday']]
a = a.merge(b,on='d', how='left')

print("CA:")
print(a.groupby('weekday').sum()[0])

#Texas: Answer: Sunday
sales_train_validation_TX = sales_train_validation.loc[sales_train_validation['state_id'] == 'TX']
a=pd.DataFrame(sales_train_validation_TX.sum()[6:])
a['d'] = a.index
b = calendar[['d','weekday']]
a = a.merge(b,on='d', how='left')

print("TX:")
print(a.groupby('weekday').sum()[0])

#Wisconsin: Answer: Saturday
sales_train_validation_WI = sales_train_validation.loc[sales_train_validation['state_id'] == 'WI']
a=pd.DataFrame(sales_train_validation_WI.sum()[6:])
a['d'] = a.index
b = calendar[['d','weekday']]
a = a.merge(b,on='d', how='left')

print("WI:")
print(a.groupby('weekday').sum()[0])

CA:
weekday
Friday       4076881
Monday       4040743
Saturday     5068641
Sunday       5145010
Thursday     3598892
Tuesday      3680138
Wednesday    3586412
Name: 0, dtype: int64
TX:
weekday
Friday       2675592
Monday       2679883
Saturday     3240493
Sunday       3363022
Thursday     2429528
Tuesday      2429433
Wednesday    2410454
Name: 0, dtype: int64
WI:
weekday
Friday       2764547
Monday       2418970
Saturday     3285209
Sunday       2974494
Thursday     2370508
Tuesday      2339063
Wednesday    2349260
Name: 0, dtype: int64

8. Which holiday or event recorded the highest sales? (5 points)

In [14]:
#Match total sales train validation to calendar months by 'd'
a=pd.DataFrame(sales_train_validation.sum()[6:])
a['d'] = a.index
b = calendar[['d','event_name_1']]
a = a.merge(b,on='d', how='left')

#Find sum
a.groupby('event_name_1').sum()[0].sort_values(ascending=False)

#Answer: Superbowl

event_name_1
SuperBowl              245544
Pesach End             217680
Mother's day           216666
Purim End              215742
LaborDay               210773
PresidentsDay          206678
OrthodoxEaster         206140
ValentinesDay          200974
StPatricksDay          200758
Easter                 197588
LentStart              184362
LentWeek2              178482
Eid al-Fitr            176338
ColumbusDay            175824
VeteransDay            175594
Ramadan starts         173898
EidAlAdha              172520
Cinco De Mayo          172057
IndependenceDay        168554
NBAFinalsEnd           167821
Chanukah End           167134
MartinLutherKingDay    166893
OrthodoxChristmas      166721
MemorialDay            163498
NBAFinalsStart         159372
Halloween              150297
Father's day           146248
NewYear                128842
Thanksgiving           105650
Christmas                  78
Name: 0, dtype: int64